﻿@model oTees.Models.ViewModels.PasswordViewModel


@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>

        <legend>Kenntwort ändern</legend>

        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword)

        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)

        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        
    </fieldset>
    
    <input type="submit" value="Kennwort ändern" class="button" />
}
