﻿@model oTees.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Anmelden";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Anmeldeformular</legend>

        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)

        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })

    </fieldset>
    
    <input type="submit" value="Anmelden" class="button" />
    
    <p>
        @Html.ActionLink("Register", "Register"), wenn Sie kein Konto besitzen.
    </p>
    
    <p>
        @Html.ActionLink("Passwort vergessen?", "PasswordForgot"), wenn Sie kein Konto besitzen.
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
