﻿@model oTees.Models.ViewModels.PasswordViewModel
@{
    ViewBag.Title = "Konto verwalten";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Angemeldet als <strong>@User.Identity.Name</strong>.</p>


@Html.Partial("_ChangePasswordPartial")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
