﻿@model oTees.Models.ViewModels.EmailViewModel

@{
    ViewBag.Title = "PasswordForgot";
}

<h2>Password Forgot</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Enter Email for recovery</legend>

        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)

    </fieldset>
    
    <input type="submit" value="Continue" class="button" />

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}