﻿@model oTees.Models.ViewModels.PasswordRecoverViewModel

@{
    ViewBag.Title = "PasswordRecover";
}

<h2>PasswordRecover</h2>

@using (Html.BeginForm("PasswordRecover", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>

        <legend>Neues Kenntwort</legend>

        @Html.HiddenFor(m => m.RecoveryKey)

        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)

        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        
    </fieldset>
    
    <input type="submit" value="Speichern" class="button" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}