﻿@model oTees.Models.ViewModels.UserViewModel

@using oTees.Helpers

@{
    ViewBag.Title = "Registrieren";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Neues Konto erstellen.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>

        <legend>Registrierungsformular</legend>

        @Html.LabelFor(m => m.Username)
        @Html.EditorFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "error" })

        @Html.LabelFor(m => m.FirstName)
        @Html.EditorFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "error" })

        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "error" })

        @Html.LabelFor(m => m.BirthDate)
        @Html.EditorFor(m => m.BirthDate)
        @Html.ValidationMessageFor(m => m.BirthDate, null, new { @class = "error" })

        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "error" })

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "error" })

        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "error" })

    </fieldset>
    
    <input type="submit" value="Registrieren" class="button" />

}

<script type="text/javascript">
    $('#Username').keyup(function (data) {
        var that = this;
        $.ajax({
            url: "CheckUsername/?username="+ this.value,
            success: function(data, textStatus, jqXHR) {
                if (data == "true") {
                    $(that).css("background-color", "red");
                }
                else {
                    $(that).css("background-color", "transparent");
                }
            }
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
