﻿@model oTees.Models.Shirt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<img src="http://placehold.it/350x200">

<fieldset>
    <legend>Shirt</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ShirtID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
