﻿@model IEnumerable<oTees.Models.Shirt>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Shirt")
</p>

<ul class="block-grid three-up">

    @foreach (var item in Model)
    {
        <li class="shirt-entry">
            <a href="@Url.Action("Details", "Shirt", new { id=item.ShirtID })" class="th"><img src="http://placehold.it/350x200"></a>
                @Html.DisplayFor(modelItem => item.Name)
            <p>
                @Html.ActionLink("Edit", "Edit", "Shirt", new { id=item.ShirtID }, null) |
                @Html.ActionLink("Delete", "Delete", "Shirt", new { id=item.ShirtID }, null)
            </p>
        </li>
    }
</ul>
