﻿@model oTees.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>




        @Html.DisplayNameFor(model => model.Email)
        @Html.DisplayFor(model => model.Email)


        @Html.DisplayNameFor(model => model.CreationDate)
        @Html.DisplayFor(model => model.CreationDate)


        @Html.DisplayNameFor(model => model.Role.Name)
        @Html.DisplayFor(model => model.Role.Name)

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="button" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
