﻿@model oTees.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

        @Html.DisplayNameFor(model => model.Username)
        @Html.DisplayFor(model => model.Username)

        @Html.DisplayNameFor(model => model.FirstName)
        @Html.DisplayFor(model => model.FirstName)

        @Html.DisplayNameFor(model => model.LastName)
        @Html.DisplayFor(model => model.LastName)

        @Html.DisplayNameFor(model => model.Email)
        @Html.DisplayFor(model => model.Email)

        @Html.DisplayNameFor(model => model.CreationDate)
        @Html.DisplayFor(model => model.CreationDate)
   
        @Html.DisplayNameFor(model => model.Role.Name)
        @Html.DisplayFor(model => model.Role.Name)

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
