﻿@model IEnumerable<oTees.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="user-list">
    <p>
        <input type="text" class="search" />
    </p>

    <table>
        <thead>
            <tr>
                <th class="sort" data-sort="username">
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th class="sort" data-sort="firtname">
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th class="sort" data-sort="lastname">
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th class="sort" data-sort="email">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th class="sort" data-sort="creationdate">
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th class="sort" data-sort="birthdate">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th class="sort" data-sort="role">
                    @Html.DisplayNameFor(model => model.Role.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model) {
                <tr>
                    <td class="username">
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td class="firtname">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="lastname">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="email">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="creationdate">
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td class="birthdate">
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td class="role">
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>
<script type="text/javascript">
    var options = {
        valueNames: ['username', 'firtname', 'lastname', 'email', 'creationdate', 'birthdate', 'role']
    };

    var featureList = new List('user-list', options);
</script>