﻿@{
    ViewBag.Title = "Info";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Verwenden Sie diesen Bereich, um zusätzliche Informationen zur Verfügung zu stellen.
    </p>

    <p>
        Verwenden Sie diesen Bereich, um zusätzliche Informationen zur Verfügung zu stellen.
    </p>

    <p>
        Verwenden Sie diesen Bereich, um zusätzliche Informationen zur Verfügung zu stellen.
    </p>
</article>

<aside>
    <h3>Nebentitel</h3>
    <p>
        Verwenden Sie diesen Bereich, um zusätzliche Informationen zur Verfügung zu stellen.
    </p>
    <ul>
        <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
        <li>@Html.ActionLink("Info", "About", "Home")</li>
        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
    </ul>
</aside>