﻿<!DOCTYPE html>
<html lang="de">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Meine ASP.NET MVC-Anwendung</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/foundation/stylesheets")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/scripts")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>

        <div class="row">
            <div class="twelve columns">
                <h2>Welcome to oTees</h2>
                @Html.Partial("_LoginPartial")
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                        <li>@Html.ActionLink("Info", "About", "Home")</li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    </ul>
                </nav>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                @RenderBody()
            </div>
        </div>


        <footer class="row">
            <div class="twelve columns">
                <p>&copy; @DateTime.Now.Year - Meine ASP.NET MVC-Anwendung</p>
            </div>
        </footer>

        
        @Scripts.Render("~/Content/foundation/javascripts")
        
        @RenderSection("scripts", required: false)
    </body>
</html>
